
/* Title Centered Over Image */
.title {
    position: absolute;
    background-color:rgb(86, 123, 159, 0.8);
    outline: black;
    top: 50%;
    left: 50%;
    /* Translated so that the title is centered over the image backdrop */
    transform: translate(-50%, -50%);
  }

/* Image Formatting */
.image1{
    position: relative;
    text-align: center;
    color: white;
}

/* Introduction to Webpage Text Formatting */
.introduction{
    position:relative;
    text-align: center;
    padding: 1%;
}

/* Map Formatting */
.map{
    position:absolute;
    /* Padding from other website features  */
    padding: 25%;
    /* Map Size aas percentage of webpage */
    width: 80%;
    height: 40%;
    /* Centering the map dynamically */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    }

.direction{
    padding: 5%;
    text-align: center;
}